<div class="app-game-turn">player {{ firstPlayer ? "x" : "o" }} turn</div>

<div class="board">
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
  <app-game-field
    (click)="togglePlayer()"
    [firstPlayer]="firstPlayer"
  ></app-game-field>
</div>
