/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

body {
  background: url(assets/hip-square.png);
  * {
    font-family: "Gochi Hand", cursive;
  }
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 50px;
  max-width: 960px;
  margin: auto;
  background: url(assets/board3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  button {
    font-size: 15em;
    aspect-ratio: 1 /1;
    width: 100%;
    text-transform: capitalize;
    background: transparent;
    border: none;
  }
}
